{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/cfb3b5a297.js" crossorigin="anonymous"></script>
    <!--    <link rel="stylesheet" href="{% static "/AdminLTE-3.0.5/plugins/fontawesome-free/css/all.min.css" %}">-->
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="{% static "/AdminLTE-3.0.5/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" %}">
    <!-- iCheck -->
    <link rel="stylesheet" href="{% static "/AdminLTE-3.0.5/plugins/icheck-bootstrap/icheck-bootstrap.min.css" %}">
    <!-- JQVMap -->
    <link rel="stylesheet" href="{% static "/AdminLTE-3.0.5/plugins/jqvmap/jqvmap.min.css" %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static "/AdminLTE-3.0.5/dist/css/adminlte.min.css" %}">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="{% static "/AdminLTE-3.0.5/plugins/overlayScrollbars/css/OverlayScrollbars.min.css" %}">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="{% static "/AdminLTE-3.0.5/plugins/daterangepicker/daterangepicker.css" %}">
    <!-- summernote -->
    <link rel="stylesheet" href="{% static "/AdminLTE-3.0.5/plugins/summernote/summernote-bs4.css" %}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- Extraheads -->
    {% block extrahead %}{% endblock extrahead %}

    </head>
<body class="sidebar-mini sidebar-collapse">
<div class="wrapper">

  <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item d-none d-sm-inline-block">
                <a href="{% url "base:dash_board" %}" class="nav-link">Home</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="{% url "case_management:planning_index" %}" class="nav-link">プランニング</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="index3.html" class="nav-link">発注管理</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="index3.html" class="nav-link">一覧</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="index3.html" class="nav-link">Map</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="index3.html" class="nav-link">クライアント</a>
            </li>
        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item d-none d-sm-inline-block">
                <a href="index3.html" class="nav-link">資料</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="index3.html" class="nav-link">問い合わせ</a>
            </li>
            <!-- Notifications Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-bell"></i>
                    <span class="badge badge-warning navbar-badge">15</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-item dropdown-header">15 Notifications</span>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-envelope mr-2"></i> 4 new messages
                        <span class="float-right text-muted text-sm">3 mins</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-users mr-2"></i> 8 friend requests
                        <span class="float-right text-muted text-sm">12 hours</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-file mr-2"></i> 3 new reports
                        <span class="float-right text-muted text-sm">2 days</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                </div>
            </li>
        </ul>
    </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url "base:dash_board" %}" class="brand-link">
      <img src="{% static "/img/I.png" %}" alt="IDEX PLANNING SYSTEM Logo"
           class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">PLANNING SYSTEM</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <!--<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">-->
        <ul class="nav nav-pills nav-sidebar flex-column nav-flat nav-legacy nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="{% url "case_management:planning_index" %}" class="nav-link">
                <i class=" nav-icon fal fa-calendar-alt "></i></span>
              <p>
                プランニング
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="pages/gallery.html" class="nav-link">
              <i class="nav-icon fal fa-money-check-edit-alt"></i>
              <p>
                発注管理
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="pages/gallery.html" class="nav-link">
              <i class="nav-icon far fa-list-ul"></i>
              <p>
                一覧
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="pages/gallery.html" class="nav-link">
              <i class="nav-icon fal fa-map-marked-alt"></i>
              <p>
                Map
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="pages/gallery.html" class="nav-link">
              <i class="nav-icon fal fa-address-book"></i>
              <p>
                クライアント
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fal fa-newspaper"></i>
              <p>
                資料
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="pages/mailbox/mailbox.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Inbox</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/mailbox/compose.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Compose</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/mailbox/read-mail.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Read</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="pages/gallery.html" class="nav-link">
              <i class="nav-icon fal fa-envelope"></i>
              <p>
                問い合わせ
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        {% block modal %}{% endblock modal %}

        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-7">
                        <h1 class="m-0 outline">{{ title }}</h1>
                    </div><!-- /.col -->
                    {% block breadcrumb %}{% endblock breadcrumb %}
                </div><!-- /.row -->
                {% if complement %}
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="bg-navy color-palette" style="margin-top:10px;padding-top: 10px; padding-bottom: 10px">
                                <span style="font-weight:bold; font-size: xx-large; letter-spacing: 5px;">　{{ complement }}</span>
                            </div>
                        </div>
                    </div>

                {% endif %}

            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        {% block content %}{% endblock content %}
                    </div>
                    <div class="col-md-1"></div>
                </div>

            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->








  <!-- Content Wrapper. Contains page content
  <div class="content-wrapper">
    <!-- Content Header (Page header)
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">IDEX PLANNING SYSTEM</h1>
          </div><!-- /.col
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">

          </div>
          <div class="row">

          </div>
      </div>





        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="{% static "/AdminLTE-3.0.5/plugins/jquery/jquery.min.js" %}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{% static "/AdminLTE-3.0.5/plugins/jquery-ui/jquery-ui.min.js" %}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="{% static "/AdminLTE-3.0.5/plugins/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
<!-- ChartJS -->
<script src="{% static "/AdminLTE-3.0.5/plugins/chart.js/Chart.min.js" %}"></script>
<!-- Sparkline -->
<script src="{% static "/AdminLTE-3.0.5/plugins/sparklines/sparkline.js" %}"></script>
<!-- JQVMap -->
<script src="{% static "/AdminLTE-3.0.5/plugins/jqvmap/jquery.vmap.min.js" %}"></script>
<script src="{% static "/AdminLTE-3.0.5/plugins/jqvmap/maps/jquery.vmap.usa.js" %}"></script>
<!-- jQuery Knob Chart -->
<script src="{% static "/AdminLTE-3.0.5/plugins/jquery-knob/jquery.knob.min.js" %}"></script>
<!-- daterangepicker -->
<script src="{% static "/AdminLTE-3.0.5/plugins/moment/moment.min.js" %}"></script>
<script src="{% static "/AdminLTE-3.0.5/plugins/daterangepicker/daterangepicker.js" %}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="{% static "/AdminLTE-3.0.5/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js" %}"></script>
<!-- Summernote -->
<script src="{% static "/AdminLTE-3.0.5/plugins/summernote/summernote-bs4.min.js" %}"></script>
<!-- overlayScrollbars -->
<script src="{% static "/AdminLTE-3.0.5/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js" %}"></script>
<!-- AdminLTE App -->
<script src="{% static "/AdminLTE-3.0.5/dist/js/adminlte.js" %}"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="{% static "/AdminLTE-3.0.5/dist/js/pages/dashboard.js" %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static "/AdminLTE-3.0.5/dist/js/demo.js" %}"></script>
</body>
</html>
