{% extends "_base.html" %}
{% load static %}

{% block extrahead %}
      <style type="text/css">


</style>
{% endblock %}

{% block content %}
    <div class="row" style="padding-bottom: 3vh">
        <div class="col-md-2">
            <a href="{% url "case_management:planning_index" %}"><button class="btn btn-block btn-info btn-lg" style="height: 20vh"><span style="font-size: 3em"><i class="fal fa-calendar-alt "></i></span><br />プランニング</button></a>
        </div>
        <div class="col-md-2">
            <a href="#"><button class="btn btn-block btn-info btn-lg" style="height: 20vh"><span style="font-size: 3em"><i class="fal fa-money-check-edit-alt"></i></span><br />発注管理</button></a>
        </div>
        <div class="col-md-2">
            <a href="#"><button class="btn btn-block btn-info btn-lg" style="height: 20vh"><span style="font-size: 3em"><i class="far fa-list-ul"></i></span><br />一覧</button></a>
        </div>
        <div class="col-md-2">
            <a href="#"><button class="btn btn-block btn-info btn-lg" style="height: 20vh"><span style="font-size: 3em"><i class="fal fa-map-marked-alt"></i></span><br />Map</button></a>
        </div>
        <div class="col-md-2">
            <a href="#"><button class="btn btn-block btn-info btn-lg" style="height: 20vh">集計<br />or<br />空き状況</button></a>
        </div>
        <div class="col-md-2">
            <a href="#"><button class="btn btn-block btn-info btn-lg" style="height: 20vh"><span style="font-size: 3em"><i class="fal fa-newspaper"></i></span><br />資料</button></a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card card-primary">
                <div class="card-header">ToDo</div>
                <div class="card-body">
                    <ul>
                        <li>あああ</li>
                        <li>いいい</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-secondary">
                <div class="card-header">システムからの通知</div>
                <div class="card-body">
                    <ul>
                        <li>あああ</li>
                        <li>いいい</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-secondary">
                <div class="card-header">お知らせ</div>
            <div class="card-body">
                <dl class="card-text">
                    <dt class="new">2020/4/1</dt>
                    <dd>画面イメージを大幅に変更しました。</dd>
                </dl>
            </div>
            </div>
        </div>
    </div>

{% endblock content %}