{% extends "_base.html" %}
{% load static %}

{% block extrahead %}
    <style type="text/css">
    .arrow > li:not(:last-child)::before {
        content:  '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 0 10px 12px;
        border-color: transparent transparent transparent #00BCD4;
        display:  inline-block;
        vertical-align:  middle;
        position: absolute;
        top: 0;
        bottom: 0;
        margin:  auto;
        right: -19px;
    }
    .arrow {
        list-style:  none;
        padding:  0;
    }
    .arrow li {
        display:  inline-block;
        background-color: #03A9F4;
        color:  #fff;
        font-size: 85%;
        padding: 10px 20px;
        margin-bottom: 10px;
        border-radius:  30px;
        position:  relative;

    }
    .arrow li:not(:last-child) {
        margin-right:  20px;
    }
    .arrow2 > li:not(:last-child)::before {
        content:  '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 0 10px 12px;
        border-color: transparent transparent transparent #00BCD4;
        display:  inline-block;
        vertical-align:  middle;
        position: absolute;
        top: 0;
        bottom: 0;
        margin:  auto;
        right: -19px;
    }
    .arrow2 {
        list-style:  none;
        padding:  0;
    }
    .arrow2 li {
        display:  inline-block;
        background-color: #f4ab3d;
        color:  #fff;
        padding: 10px 20px;
        border-radius:  30px;
        position:  relative;

    }
    .arrow2 li:not(:last-child) {
        margin-right:  20px;
    }
    </style>
{% endblock %}

{% block content %}
    プランニング手順：
     <div class="row" style="padding-bottom: 1vh">
        <ul class="arrow2">
            <li style="background-color: #aaaaaa">設定・入力</li>
            <li style="background-color: #aaaaaa">媒体店舗自動抽出</li>
            <li>結果表示・調整</li>
        </ul>
    </div>

    実施いただけること（+マークをクリックすると説明文が表示されます）
    <div class="row">
        <div class="col-md-3">
            <div class="card card-info card-outline collapsed-card">
                <div class="card-header">
                    <h3 class="card-title">結果確認</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <p style="margin-bottom: 2px">
                        画面で概要を確認できること、資料として確認できることを書く。特に、リストは、発注の時に使用できるものとして。
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-info card-outline collapsed-card">
                <div class="card-header">
                    <h3 class="card-title">修正・コピー・削除</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <p style="margin-bottom: 2px">
                        修正・コピー・削除　ができることを書く。
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-info card-outline collapsed-card">
                <div class="card-header">
                    <h3 class="card-title">調整・空き確認</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <p style="margin-bottom: 2px">
                        店舗を入れ替えたり、調整することができることをその方法と合わせて書く。
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-info card-outline collapsed-card">
                <div class="card-header">
                    <h3 class="card-title">発注</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <p style="margin-bottom: 2px">
                        この画面から発注処理を行うことができることを書く
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="padding-bottom: 1vh">
        <div class="col-sm-12">
            <div class="bg-navy color-palette" style="margin-top:10px;padding-top: 10px; padding-bottom: 10px">
                <span style="font-weight:bold; font-size: xx-large; letter-spacing: 5px;">　プランニング名称</span>
            </div>
        </div>
    </div>

    <div class="row" style="padding-bottom: 1vh">
        <div class="col-md-3">
            <a href=""><button class="btn btn-block btn-success btn-lg" style="height: 7vh"><span style="font-size: 2em"><i class="fal fa-money-check-edit-alt"></i></span>　発注</button></a>
        </div>
        <div class="col-md-3">
            <a href="#"><button class="btn btn-block btn-info btn-lg" style="height: 7vh"><span style="font-size: 2em"><i class="fal fa-edit"></i></span>　修正</button></a>
        </div>
        <div class="col-md-3">
            <a href="#"><button class="btn btn-block btn-info btn-lg" style="height: 7vh"><span style="font-size: 2em"><i class="fal fa-copy"></i></span>　コピー</button></a>
        </div>
        <div class="col-md-3">
            <a href="#"><button class="btn btn-block btn-danger btn-lg" style="height: 7vh"><span style="font-size: 2em"><i class="fal fa-trash-alt"></i></span>　削除</button></a>
        </div>
    </div>
    <div class="row" style="padding-bottom: 3vh">
        <div class="col-md-3">
            <a href=""><button class="btn btn-block btn-primary btn-lg" style="height: 7vh"><span style="font-size: 2em"><i class="fal fa-map-marked-alt"></i></span></span>　プランMap</button></a>
        </div>
        <div class="col-md-3">
            <a href="#"><button class="btn btn-block btn-primary btn-lg" style="height: 7vh"><span style="font-size: 2em"><i class="far fa-list-ul"></i></span>　店舗リスト</button></a>
        </div>
        <div class="col-md-3">
            <a href="#"><button class="btn btn-block btn-primary btn-lg" style="height: 7vh"><span style="font-size: 2em"><i class="fal fa-calendar-exclamation"></i></span>　最新の空き状況確認</button></a>
        </div>
        <div class="col-md-3">
            <a href="#"><button class="btn btn-block btn-primary btn-lg" style="height: 7vh"><span style="font-size: 2em"><i class="fal fa-american-sign-language-interpreting"></i></span>　調整</button></a>
        </div>
    </div>

    <div class="row" style="padding-bottom: 1vh">
        <div class="col-sm-8">
            <div class="card card-secondary">
                <div class="card-header">結果概要</div>
                <div class="card-body">
                    <ul>
                        <li>あああ</li>
                        <li>いいい</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card card-secondary">
                <div class="card-header">設定内容</div>
                <div class="card-body">
                    <ul>
                        <li>あああ</li>
                        <li>いいい</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



{% endblock content %}