{% extends "_base.html" %}
{% load static %}

{% block extrahead %}
    <style type="text/css">
    .arrow > li:not(:last-child)::before {
        content:  '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 0 10px 12px;
        border-color: transparent transparent transparent #00BCD4;
        display:  inline-block;
        vertical-align:  middle;
        position: absolute;
        top: 0;
        bottom: 0;
        margin:  auto;
        right: -19px;
    }
    .arrow {
        list-style:  none;
        padding:  0;
    }
    .arrow li {
        display:  inline-block;
        background-color: #03A9F4;
        color:  #fff;
        font-size: 85%;
        padding: 10px 20px;
        margin-bottom: 10px;
        border-radius:  30px;
        position:  relative;

    }
    .arrow li:not(:last-child) {
        margin-right:  20px;
    }
    .arrow2 > li:not(:last-child)::before {
        content:  '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 0 10px 12px;
        border-color: transparent transparent transparent #00BCD4;
        display:  inline-block;
        vertical-align:  middle;
        position: absolute;
        top: 0;
        bottom: 0;
        margin:  auto;
        right: -19px;
    }
    .arrow2 {
        list-style:  none;
        padding:  0;
    }
    .arrow2 li {
        display:  inline-block;
        background-color: #f4ab3d;
        color:  #fff;
        padding: 10px 20px;
        border-radius:  30px;
        position:  relative;

    }
    .arrow2 li:not(:last-child) {
        margin-right:  20px;
    }
    </style>
{% endblock %}

{% block content %}
    プランニング手順：
     <div class="row" style="padding-bottom: 1vh">
        <ul class="arrow2">
            <li>設定・入力</li>
            <li style="background-color: #aaaaaa">媒体店舗自動抽出</li>
            <li style="background-color: #aaaaaa">結果表示・調整</li>
        </ul>
    </div>
    設定・入力手順：
    <div class="row" style="padding-bottom: 1vh">
        <ul class="arrow">
            <li style="background-color: #aaaaaa">クライアント選択</li>
            <li style="background-color: #aaaaaa">開始日入力</li>
            <li style="background-color: #aaaaaa">媒体選択</li>
            <li>広告物仕様仮設定</li>
            <li style="background-color: #aaaaaa">媒体審査設定</li>
            <li style="background-color: #aaaaaa">プラン種別選択</li>
            <li style="background-color: #aaaaaa">プラン設定１</li>
            <li style="background-color: #aaaaaa">プラン設定２</li>
            <li style="background-color: #aaaaaa">プラン設定３</li>
            <li style="background-color: #aaaaaa">確認画面</li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card card-info">
                <div class="card-header">広告物仕様仮設定</div>
                <div class="card-body">
                    <ul>
                        広告物仕様仮設定用のフォーム
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="{% url "case_management:planning_select_judge" %}"><button class="btn btn-success btn-lg float-right" type="button">次へ</button></a>
                    <a href="{% url "case_management:planning_select_medium" %}"><button class="btn btn-default float-right" type="button" style="margin-right: 5px">戻る</button></a>
                    <a href="{% url "case_management:planning_index" %}"><button class="btn btn-default float-right" type="button" style="margin-right: 5px">プランニングをやめる</button></a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}