{% extends "_base.html" %}
{% load static %}

{% block extrahead %}
    <style type="text/css">
    .arrow > li:not(:last-child)::before {
        content:  '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 0 10px 12px;
        border-color: transparent transparent transparent #00BCD4;
        display:  inline-block;
        vertical-align:  middle;
        position: absolute;
        top: 0;
        bottom: 0;
        margin:  auto;
        right: -19px;
    }
    .arrow {
        list-style:  none;
        padding:  0;
    }
    .arrow li {
        display:  inline-block;
        background-color: #03A9F4;
        color:  #fff;
        font-size: 85%;
        padding: 10px 20px;
        margin-bottom: 10px;
        border-radius:  30px;
        position:  relative;

    }
    .arrow li:not(:last-child) {
        margin-right:  20px;
    }
    .arrow2 > li:not(:last-child)::before {
        content:  '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 0 10px 12px;
        border-color: transparent transparent transparent #00BCD4;
        display:  inline-block;
        vertical-align:  middle;
        position: absolute;
        top: 0;
        bottom: 0;
        margin:  auto;
        right: -19px;
    }
    .arrow2 {
        list-style:  none;
        padding:  0;
    }
    .arrow2 li {
        display:  inline-block;
        background-color: #f4ab3d;
        color:  #fff;
        padding: 10px 20px;
        border-radius:  30px;
        position:  relative;

    }
    .arrow2 li:not(:last-child) {
        margin-right:  20px;
    }
    </style>
{% endblock %}

{% block content %}
    プランニング手順：
     <div class="row" style="padding-bottom: 1vh">
        <ul class="arrow2">
            <li style="background-color: #aaaaaa">設定・入力</li>
            <li>媒体店舗自動抽出</li>
            <li style="background-color: #aaaaaa">結果表示・調整</li>
        </ul>
    </div>

    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%"></div>
    </div>
    <br />
    <p>現在、設定・入力いただいた内容をもとに、媒体店舗自動抽出を行っています。結果画面が表示されるまでお待ち下さい。</p>
    <p>本画面を閉じても処理は継続し、プランニングの最初の画面から確認することが出来ます。</p>

{% endblock content %}