{% extends "_base.html" %}
{% load static %}

{% block extrahead %}
      <style type="text/css">


</style>
{% endblock %}

{% block content %}
    <div class="row" style="padding-bottom: 3vh">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <a href="{% url "case_management:planning_select_client" %}"><button class="btn btn-block btn-info btn-lg" style="height: 20vh"><span style="font-size: 3em"><i class="fal fa-calendar-alt "></i></span><br />プラン作成</button></a>
        </div>
        <div class="col-md-4">
            <a href="#"><button class="btn btn-block btn-info btn-lg" style="height: 20vh"><span style="font-size: 3em"><i class="fal fa-history"></i></span><br />プランニング履歴</button></a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="card card-primary">
                <div class="card-header">1ヶ月以内に作成したプラン</div>
                <div class="card-body">
                    <ul>
                        <li>リンク付きの表で表示する</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-secondary">
                <div class="card-header">設定・入力中のプラン</div>
                <div class="card-body">
                    <ul>
                        <li>リンク付きのリストで表示する</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}